@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #4C585B;
    --secondary-color: #A5BFCC;
    --terciary-color: #F4EDD3;
    --primary-color-hover: #7E99A3;
    /* --terciary-color-hover: #739EC9; */

    --primary-font-style: "Krona One", sans-serif;
    --secondary-font-style: "Montserrat", sans-serif;

    --primary-font-size: 2.25rem;
    --secondary-font-size: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-sizing: border-box;
}

.header{
    padding: 2% 0 0 15%;
}

.navbar{
    display: flex;
    gap: 80px;
}

.navbar__link{
    color: var(--terciary-color);
    text-decoration: none;
    font-family: var(--secondary-font-style);
    font-weight: 600;
    font-size: var(--secondary-font-size);
}

/* .navbar__link:hover{
    color: var(--terciary-color-hover);
} */

.contentPresentation{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.contentPresentation__infoSection{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contentPresentation__infoSection__title{
    font-size: var(--primary-font-size);
    font-family: var(--primary-font-style);
}

.titleStrong{
    color: var(--terciary-color);
}

.contentPresentation__infoSection__subtitle{
    font-size: var(--secondary-font-size);
    font-family: var(--secondary-font-style);
    font-weight: 400;
    text-align: justify;
}

.contentPresentation__linksSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.contentPresentation__linksSection__subtitle{
    font-family: var(--primary-font-style);
    font-weight: 400;
    font-size: var(--secondary-font-size);
}

.contentPresentation__linksSection__button{
    color: var(--secondary-color);
    width: 50%;
    gap: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--terciary-color);
    border-radius: 8px;
    font-family: var(--secondary-font-style);
    font-size: var(--secondary-font-size);
    font-weight: 600;
    padding: 21.5px 0;
    display: flex;
    justify-content: center;
}

.contentPresentation__linksSection__button:hover{
    color: var(--secondary-color);
    background-color: var(--primary-color-hover);
}

.contentPresentation__image{
    width: 50%;
}

.footer{
    background-color: var(--terciary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1.5rem;
    font-family: var(--secondary-font-style);
    font-size: var(--secondary-font-size);
    font-weight: 400;
}

@media(max-width: 1023px){
    .header{
        padding: 10%;
    }
    
    .navbar{
        justify-content: center;
    }

    .contentPresentation{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .contentPresentation__infoSection{
        width: 100%;
    }
}